body {
	background-color: black;
	margin: 0 auto;
}

header {
	text-align: center;
	height: fit-content;
	background-color: grey;
	color: black;
	font-size: x-large;
}

h1 {
	margin: 0;
	padding: 0;
}

h3 {
	margin-top: 2px;
	text-align: center;
	background-color: grey;
	color: black;
}

form {
	color: grey;
	background-color: black;
	width: 45%;
	margin: 20px auto;
}

input,
textarea {
	background-color: black;
	color: limegreen;
}
footer {
	margin-top: 3%;
	text-align: center;
}
